<!-- book.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notebooks</title>
  </head>
  <body>
    <h1>Personal Library</h1>

    <!-- Create instructions -->
    <div id="header">
      <img
        id="header-image"
        src="<%= book.volumeInfo.imageLinks.thumbnail %>"
      />
    </div>
    <main>
      <a href="/"><div id="header">Book Search</div></a>

      <!-- Create a display area to show the new books -->

      <form action="/books" method="POST" id="book-search">
        <div id="<%= book.id %>" name="<%= book.id %>"></div>

        <span name="title"> <%= book.volumeInfo.title %></span>
        <span name="author"> <%= book.volumeInfo.authors %></span>
        <span name="pages"> <%= book.volumeInfo.pages %></span>
        <button type="submit" id="book-search__add">Add</button><br />
        <span name="description"> <%= book.volumeInfo.description %></span>
      </form>
    </main>
  </body>
</html>
