<%- include("partials/header.ejs") %>
<div class="relative min-h-screen flex">
<%- include("partials/nav.ejs") %>

  
<div class="flex-1 p-10 text-2x1 font-bold">
  <div class="bg-white shadow p-4 mx-2 flex">
    <span class="w-auto flex text-center items-center text-gray-500 p-2">
        Book Collection
    </span>
    </div>

   

  <ul class="space-y-4">
      <!-- list item -->
      <% for(var i = 0; i < books.length; i++) {%>

        <a href="/books/<%= books[i]._id %>"><li class=" mx-2 bg-gray-50 p-4 antialiased grid grid-cols-3 gap-4 align-content: center rounded border-0">
        <div class=" ml-3 pr-3 grid-cols-1 self-center justify-self-center"> 
        <!-- Output name from the iterated book -->
        <!-- <form action="/books" method="POST" id="book-search"> -->
        <div id="<%= books[i]._id %>" name="<%= books[i]._id %>"></div>
        <img
          id="search-image"
          src="<%= books[i].thumbnail %>"
        /><input
          type="hidden"
          name="thumbnail"
          value="<%= books[i].thumbnail %>"
        />
      </div>
      <!-- container for title and author -->
        <div class="grid-cols-2 self-center ">
          <div class="space-y-2 ml-3  pr-3">
            <div class="text-base leading-4 font-normal space-y-2">
              <a href="/search/<%= books[i].id %>">
                <%= books[i].title %></a
              >
            </div>
            </div>
        
           
                    <div class=" space-y-2 ml-3  pr-3 self-center">
            <div class="text-sm leading-4 font-normal">
              <span class="text-xs leading-4 font-normal text-gray-500 ">
                By
              </span>
              <%= books[i].author %>
            </div>
            
            </div>
        </div>

        <div class=" pr-3 grid-cols-3 self-center">
          <div>
            <div
              class="ml-3 my-3 border-gray-100 p-1"
            >
              <div class="uppercase text-xs leading-4 font-medium">
                
              </div>
              <div
                class="
                  text-center text-sm
                  leading-4
                  font-semibold
                  text-gray-800
                "
              >
              Pages <%= books[i].pages %>
              <div
              class="ml-3 my-3 border-gray-100 p-1"
            >
              <div class="uppercase text-xs leading-4 font-medium">
                
              </div>
              <div
                class="
                  text-center text-sm
                  leading-4
                  font-semibold
                  text-gray-800
                "
              >👀 Reading
              </div>
            
          </div>
        </div>
      </div>
      </li>
      <% } %>
    </a>
    </ul>
</div>
</div>
  
  </div> 
    
      </div>
    </div>
  </div>

</div>