<!-- book.ejs -->
<%- include("partials/header.ejs") %>
<body>
  <h1>Personal Library</h1>

  <!-- Create instructions -->
  <div id="header"></div>
  <main>
    <a href="/"><div id="header">Book Search</div></a>

    <!-- Create a display area to show the new books -->

    <form action="/books/<%= book.id %>" method="POST" id="book-review">
      <input name="_method" type="hidden" value="PUT" />
      <div id="<%= book.id %>" name="<%= book.id %>"></div>
      <img id="header-image" src="<%= book.thumbnail %>" /><input
        type="hidden"
        name="thumbnail"
        value="<%= book.thumbnail %>"
      />
      <label
        ><input type="hidden" name="title" value="<%= book.title %>" /> <%=
        book.title %></label
      >
      <label><input type="hidden" name="author" /> <%= book.authors %></label>
      <label><%= book.pages %><input type="hidden" name="pages" /></label>
      <label
        ><%= book.description %> <input type="hidden" name="description"
      /></label>
      <input
        type="text"
        name="review"
        style="size: 2000; width: 80%; height: 150px"
      /><%= book.review %>
      <button type="submit" id="book-review__add">Update Review</button><br />
      <a href="/books/delete/<%= book.id %>">Delete</a></td> 
    </form>
  </main>
  <%- include("partials/footer.ejs") %>
</body>
