<!-- collection.ejs -->
<%- include("partials/header.ejs") %>
    
      <!-- Create instructions -->
    <div id="header">
      <img id="header-image" src="#"/>
  </div>
  <main>

  <!-- Create a display area to show the new books -->
      <div id="book-display" class="hidden">Books</div>
      <ul class="books">
        <% for(var i = 0; i < books.length; i++) {%>
          <li class="book-result">
            <!-- Output name from the iterated book -->
        
            <div id= <%= books[i]._id %> > <img id="search-image" src="<%= books[i].thumbnail %>" />
            <a href="/books/<%= books[i]._id %>">
            <span> <%= books[i].title %></span>:</a>
            <span> <%= books[i].author %></span>
            <span> <%= books[i].read %></span>
          </li>
        <% } %>
      </ul>
  </div>
</main>
    
<%- include("partials/footer.ejs") %>