<%- include("partials/header.ejs") %>
<div class="relative min-h-screen flex">
<%- include("partials/nav.ejs") %>

  <div class="flex-1 p-10 text-2x1 font-bold">

    <!-- Create a display area to show the new books -->
    
      <div><%= book.status %></div>
    <form action="/books/<%= book.id %>" method="POST" id="book-review">
      <input name="_method" type="hidden" value="PUT" />
      <div id="<%= book.id %>" name="id" value="<%= book.id %>"></div>
      <img id="header-image" src="<%= book.thumbnail %>" /><input
        type="hidden"
        name="thumbnail"
        value="<%= book.thumbnail %>"
      />
      <label
        ><input type="hidden" name="title" value="<%= book.title %>" /> <%=
        book.title %></label
      >
      <label><input type="hidden" name="author" value="<%= book.author %>"/>By <%= book.author %></label>
      <input type="radio" onchange='this.form.submit();' name="status" class="reading-status" id="to-read" value="to-read"  <% if (book.status === "to-read") { %>checked <% }%>>
        <label for="to-read" class="reading-status__label">📕 To Read</label>
        <input type="radio" onchange='this.form.submit();' name="status" class="reading-status" id="read" value="read" <% if (book.status === "read") { %>checked <% }%>><label for="read" class="reading-status__label">📚 Read</label>
        <input type="radio" onchange='this.form.submit();' name="status" class="reading-status"  id="reading" value="reading" <% if (book.status === "reading") { %>checked <% }%>><label for="reading" class="reading-status__label">👀 Reading</label>
      <label><%= book.pages %><input type="hidden" name="pages" value="description"/></label>
      <label><%= book.description %> <input type="hidden" name="description"
      value="<%= book.description %>"/></label>
      <input
        type="text"
        name="review"
        id="review-textarea"
        style="size: 2000; width: 80%; height: 150px"
        value="<%= book.review %>"
      />
      <a href="/books/delete/<%= book.id %>">Won't Read</a></td> 
    </form>
  </div>
</div>
</div>
</div>

