<%- include("partials/header.ejs") %>
<div class="relative min-h-screen flex">
<%- include("partials/nav.ejs") %>

  <div class="flex-1 p-10 text-2x1 font-bold">
  <!-- Create a display area to show the new books -->

  <form action="/books" method="POST" id="book-search" class="search-results">
    <div id="<%= book.id %>" name="<%= book.id %>"></div>
    <img
      id="book-image"
      src="<%= book.volumeInfo.imageLinks.thumbnail %>"
    /><input
      type="hidden"
      name="thumbnail"
      value="<%= book.volumeInfo.imageLinks.thumbnail %>"
    />
    <label
      ><input type="hidden" name="title" value="<%= book.volumeInfo.title %>" />
      <%= book.volumeInfo.title %></label
    >
    <label
      ><input
        type="hidden"
        name="author"
        value="<%= book.volumeInfo.authors %>"
      />
      <%= book.volumeInfo.authors %></label
    >
    <label
      ><%= book.volumeInfo.pageCount %><input
        type="hidden"
        name="pages"
        value="<%= book.volumeInfo.pageCount %>"
    /></label>
    <button type="submit" id="book-search__add">Add</button><br />
    <label
      ><input type="hidden" name="description" /> <%=
      book.volumeInfo.description %></label
    >
  </form>
</main>
