<!-- book.ejs -->
<%- include("partials/header.ejs") %>
<div class="relative min-h-screen flex">
  <!-- sidebar -->
  <!-- text blue 100 will go all the way down the page -->
  <!-- this is the parent div so will set padding y  -->
  <div
    class="
      bg-gray-50
      text-black
      w-64
      space-y-6
      py-7
      px-2
      absolute
      inset-y-0
      left-0
      transform
      -translate-x-full
      md:relative
      md:translate-x-0
      transition
      duration-200
      ease-in-out
    "
  >
    <!-- logo -->
    <a
      href="/books"
      class="text-black flex-items-center space-x-2 px-4"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      ><span class="w-8 h-8 text-2x1 font-bold">✨ MyLib</span>
    </a>
    <nav>
      <a
        href="/"
        class="
          block
          py-2.5
          px-4
          rounded
          transition
          duration-200
          hover:bg-gray-100
        "
        >🔦 Search</a
      >
      <a
        href="/books/to-read"
        class="
          block
          py-2.5
          px-4
          rounded
          transition
          duration-200
          hover:bg-gray-100
        "
        >📕 To Read</a
      >
      <a
        href="/books/reading"
        class="
          block
          py-2.5
          px-4
          rounded
          transition
          duration-200
          hover:bg-gray-100
        "
        >👀 Reading</a
      >
      <a
        href="/books/read"
        class="
          block
          py-2.5
          px-4
          rounded
          transition
          duration-200
          hover:bg-gray-100
        "
        >📚 Read</a
      >

      <!-- remove  abosolute and transform and -translate x-full-->
      <!-- md:relative 
      md:translate-x-0 these make the sidebar responsive -->
    
    </nav>
  </div>
  <div class="flex-1 p-10 text-2x1 font-bold">
  <!-- Create a display area to show the new books -->

  <form action="/books" method="POST" id="book-search" class="search-results">
    <div id="<%= book.id %>" name="<%= book.id %>"></div>
    <img
      id="book-image"
      src="<%= book.volumeInfo.imageLinks.thumbnail %>"
    /><input
      type="hidden"
      name="thumbnail"
      value="<%= book.volumeInfo.imageLinks.thumbnail %>"
    />
    <label
      ><input type="hidden" name="title" value="<%= book.volumeInfo.title %>" />
      <%= book.volumeInfo.title %></label
    >
    <label
      ><input
        type="hidden"
        name="author"
        value="<%= book.volumeInfo.authors %>"
      />
      <%= book.volumeInfo.authors %></label
    >
    <label
      ><%= book.volumeInfo.pageCount %><input
        type="hidden"
        name="pages"
        value="<%= book.volumeInfo.pageCount %>"
    /></label>
    <button type="submit" id="book-search__add">Add</button><br />
    <label
      ><input type="hidden" name="description" /> <%=
      book.volumeInfo.description %></label
    >
  </form>
</main>
<%- include("partials/footer.ejs") %>
