<!-- search results.ejs -->
<%- include("partials/header.ejs") %>
<div class="relative min-h-screen flex">
  <!-- sidebar -->
  <!-- text blue 100 will go all the way down the page -->
  <!-- this is the parent div so will set padding y  -->
  <div
    class="
      bg-gray-50
      text-black
      w-64
      space-y-6
      py-7
      px-2
      absolute
      inset-y-0
      left-0
      transform
      -translate-x-full
      md:relative
      md:translate-x-0
      transition
      duration-200
      ease-in-out
    "
  >
    <!-- logo -->
    <a
      href="/books"
      class="text-black flex-items-center space-x-2 px-4"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      ><span class="w-8 h-8 text-2x1 font-bold">✨ MyLib</span>
    </a>
    <nav>
      <a
        href="/"
        class="
          block
          py-2.5
          px-4
          rounded
          transition
          duration-200
          hover:bg-gray-100
        "
        >🔦 Search</a
      >
      <a
        href="/books/to-read"
        class="
          block
          py-2.5
          px-4
          rounded
          transition
          duration-200
          hover:bg-gray-100
        "
        >📕 To Read</a
      >
      <a
        href="/books/reading"
        class="
          block
          py-2.5
          px-4
          rounded
          transition
          duration-200
          hover:bg-gray-100
        "
        >👀 Reading</a
      >
      <a
        href="/books/read"
        class="
          block
          py-2.5
          px-4
          rounded
          transition
          duration-200
          hover:bg-gray-100
        "
        >📚 Read</a
      >

      <!-- remove  abosolute and transform and -translate x-full-->
      <!-- md:relative 
      md:translate-x-0 these make the sidebar responsive -->
    
    </nav>
  </div>
  <div class="flex-1 p-10 text-2x1 font-bold">
    <p> 🔦 Search </p>
    <div id="book-search">
      <form action="/search" method="POST" id="book-search">
            <input type="text" id="search" name="title" placeholder="book"/>
            <button type="submit" id="book-form__search">Search by Title</button>
        </div>
      </form>
      
      <ul class="books">
        <% for(var i = 0; i < books.length; i++) {%>
        <li class="book-result">
          <!-- Output name from the iterated book -->
          <!-- <form action="/books" method="POST" id="book-search"> -->
          <div id="<%= books[i].id %>" name="<%= books[i].id %>"></div>
          <img id="search-image" src="<%= books[i].volumeInfo.imageLinks.smallThumbnail %>" /><input
        type="hidden"
        name="thumbnail"
        value="<%= books[i].volumeInfo.imageLinks.thumbnail %>"
      />
      <a href="/search/<%= books[i].id %>"><label>
            <input type="hidden" name="title" value="<%= books[i].volumeInfo.title %>"> <%= books[i].volumeInfo.title %></label></a
          >
          <label><input type="hidden" name="author" value="<%= books[i].volumeInfo.authors %>"> <%= books[i].volumeInfo.authors %></label>
          <label><input type="hidden" name="pages" value="<%= books[i].volumeInfo.pageCount %>"> <%= books[i].volumeInfo.pageCount %></label>
          <!-- <button type="submit" id="book-search__add">Add</button><br /> -->
        </li>
        <% } %>
      </ul>

      
      </div>
