<%- include("partials/header.ejs") %>
<div class="relative min-h-screen md:flex">
  <%- include("partials/nav.ejs") %>

  <!-- container for content and spacing with nav bar -->
  <div class="flex-1 p-10 text-2x1 font-bold">
    <div class="text-center">🔦 Search</div>
    <form action="/search" method="POST" id="book-search">
      <div class="bg-white shadow p-4 mx-2 flex hover:shadow-lg">
        <span class="w-auto flex justify-end items-center text-gray-500 p-2">
        </span>
        <input
          class="w-full rounded p-4"
          type="text"
          name="title"
          focus="outline-none"
          value="<%= search %>"
        />
        <button
          type="submit"
          class="
            bg-purple-500
            hover:bg-purple-700
            rounded
            text-white
            p-2
            pl-4
            pr-4
          "
        >
          <p class="font-semibold text-xs">Search</p>
        </button>
      </div>
    </form>

    <ul class="space-y-4">
      <!-- list item -->
      <% for(var i = 0; i < books.length; i++) {%>

      <a href="/search/<%= books[i].id %>"
        ><li
          class="
            p-4
            mx-2
            bg-gray-50
            antialiased
            grid grid-cols-3
            gap-4
            align-content:
            center
            rounded
            hover:#F0E7FF
          "
        >
          <div class="ml-3 pr-3 grid-cols-1 self-center justify-self-center">
            <!-- Output name from the iterated book -->
            <!-- <form action="/books" method="POST" id="book-search"> -->
            <div id="<%= books[i].id %>" name="<%= books[i].id %>"></div>
            <img
              id="search-image"
              class="object-scale-down text-center"
              src="<%= (books[i].volumeInfo.imageLinks) ? books[i].volumeInfo.imageLinks.smallThumbnail : img %>"
            /><input
              type="hidden"
              name="thumbnail"
              value="<%= (books[i].volumeInfo.imageLinks) ? books[i].volumeInfo.imageLinks.Thumbnail :  img %>"
            />
          </div>
          <!-- container for title and authors -->
          <div class="grid-cols-2 self-center">
            <div class="space-y-2 mb-2  pr-3">
              <div class="text-base leading-4 font-normal">
                <a href="/search/<%= books[i].id %>">
                  <%= books[i].volumeInfo.title %></a
                >
              </div>
            </div>

            <div class="space-y-2 mb-2 pr-3 self-center">
              <div class="text-base leading-4 font-normal">
                <span class="text-sm leading-4 font-normal text-gray-500">
                  <%= (!books[i].volumeInfo.authors) ? "" : "By:" %> 
                </span>
                <%= (!books[i].volumeInfo.authors) ? "" : books[i].volumeInfo.authors.join(", ") %>
              </div>
            </div>
            <!-- categories -->
            <div class="space-y-2 mb-2 pr-3 self-center">
              <div class="text-base leading-4 font-normal">
                <span class="text-sm leading-4 font-normal text-gray-500"></span>
                  <%= (!books[i].volumeInfo.categories) ? "" : "Categories:" %>
                </span>
                <%= (!books[i].volumeInfo.categories) ? "" : books[i].volumeInfo.categories %>
              </div>
            </div>
          </div>

          <!-- other book info -->
          <div class="pr-3 grid-cols-3 self-center">
            <div class="space-y-2 mb-2 ml-3 pr-3 self-center">
              <div class="text-base leading-4 font-normal">
                <span class="text-sm leading-4 font-normal text-gray-500">
                  <%= (!books[i].volumeInfo.pageCount) ? "" : "Pages:" %>
                </span>
                <%= (!books[i].volumeInfo.pageCount) ? "" : books[i].volumeInfo.pageCount %>
              </div>
            </div>

            <div class="space-y-2 mb-2 ml-3 pr-3 self-center">
              <div class="text-base leading-4 font-normal">
                <span class="text-sm leading-4 font-normal text-gray-500">
                  <%= (!books[i].volumeInfo.publishedDate) ? "" : "Published Date:" %>
                </span>
                <%= (!books[i].volumeInfo.publishedDate) ? "" : new Intl.DateTimeFormat('en-US', {
                  year: 'numeric', month: 'short', day: '2-digit'}).format(new
                  Date(books[i].volumeInfo.publishedDate)) %>
              </div>
            </div>

            <div class="space-y-2 mb-2 ml-3 pr-3 self-center">
              <div class="text-base leading-4 font-normal">
                <span class="text-sm leading-4 font-normal text-gray-500">
                  <%= (!books[i].volumeInfo.averageRating) ? "" : "Average Rating:" %> 
                </span>
                <%= (!books[i].volumeInfo.averageRating) ? "" : books[i].volumeInfo.averageRating %> 
              </div>
            </div>
          </div>
        </li>
        <% } %>
      </a>
    </ul>
  </div>
</div>
