<!-- search.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>myLib</title>
  </head>
  <body>
    <h1>Add books</h1>
    <div id="book-search">
      Books
      <ul class="books">
        <% for(var i = 0; i < books.length; i++) {%>
        <li class="books">
          <!-- Output name from the iterated book -->
          <form action="/books" method="POST" id="book-search">
          <div id="<%= books[i].id %>" name="<%= books[i].id %>"></div>
          <a href="/search/<%= books[i].id %>">
            <span name="title"> <%= books[i].volumeInfo.title %></span></a
          >
          <span name="author"> <%= books[i].volumeInfo.authors %></span>
          <span name="pages"> <%= books[i].volumeInfo.pages %></span>
          <button type="submit" id="book-search__add">Add</button><br />
          <span name="description"> <%= books[i].volumeInfo.description %></span>
        </li>
        <% } %>
      </form>
      </ul>
    </div>
  </body>
</html>
